/*Yanhong Wang
yanhongwang@my.smccd.edu
CIS 114 OL
itunes.css
Final Exam
May 19, 2019
*/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: white;
    width: 730px;
    margin: 0 auto;
    border: 3px solid red;
    padding: 0 2em 1em;
}

img{
    width: 150px;
}

p{ 
    border: solid #929ca4 1px;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2{
    font-size: 10px;
    padding: 3px 0 3px 20px;
}
